@model TpPrevio.Models.Login

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))

{
<fieldset style="width:300px">
    <legend>Login</legend>
    <table>
        <tr>
            <td>@Html.Label("Enter username")</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(a => a.UserName)</td>
            <td>@Html.ValidationMessageFor(a => a.UserName)</td>
        </tr>
        
        <tr>
            <td>@Html.Label("Enter password")</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(a => a.Password)</td>
            <td>@Html.ValidationMessageFor(a => a.Password)</td>
        </tr>


    </table>

   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-20">
            <input type="submit" class="btn btn-default" value="Accept" />
        </div>
    </div>


</fieldset>
}